<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web Socket Client Example</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
</head>
<body>

<div id="registration">
    <p>Enter your username</p>
    <input type="text" id="username"/>
    <button onclick="register();">Register</button>
    <br/><br/>
</div>
<div id="usernameDisplay"></div>
<div id="lastUpdateTime"></div>

<div id="game">
    <div id="mainDiv">
        <div id="currentGoldWrap">
            <h3>Current Gold</h3>
            <span id="currentGold">0</span>
        </div>
        <div id="equipment">
            <h3>Equipment</h3>
            <ul id="equipmentList">

            </ul>
        </div>
    </div>

    <button onclick="clickGold();">Get Gold</button>
    <div id="buyButtons">
        <button onclick="buy('shovel');">Buy Shovel</button>
        <button onclick="buy('excavator');">Buy Excavator</button>
        <button onclick="buy('mine');">Buy Mine</button>
    </div>
</div>
<button onclick="hack100()"> Hack (+100 gold clicks) </button>
<button onclick="hack1000()"> Hack (+1000 gold clicks) </button>

<script src="webSocket.js"></script>

</body>
</html>